
<div class="container">
	<div  class="row">
  	<div class="col-md-12 text-center">
  		<h1>Hackear Facebook</h1>
  	</div>
  </div>
  <br>
  <div  class="row">
  	<div class="col-md-12 text-center">
  		 <%= image_tag("m1.jpg", :alt => "rss feed", :class => "img-rounded img-responsive center-block") %>
  	</div>
  </div>
  	<br>
  	<div class= "row">
  		<div class="col-md-8 text-center pagination-centered" style ="height:100%;">
  			<h2>Cantidad de usuarios hakeados disponibles: <%=@cont%></h2>
  			<br>
  			<h3>consultar existencia:  </h3>
  			<div class="form-group">
			  <label class="control-label" for="inputDefault">Email de la victima</label>
			  <input type="text" class="form-control" id="inputDefault">
			  <br>
			  <a href="#" class="btn btn-primary">ver mas</a>
			</div>
  		</div>
  		<div class="col-md-4 text-center">
  			<h2>puedes buscar en nuestra base de datos para ver si contamos comos con los datos de tu victima!!!</h2>
  			<a href="#" class="btn btn-default">ver mas</a>
  		</div>
  	</div>
  	<br>
 	<div  class="row">
 		<div class="col-md-4">
		  	<div class="col-md-12 jumbotron">
		  		 <h2>¿Que es?</h2>
		  		 <br>
		  		 <p>
		  		 	sdsadsadsads  hb hbh bh bhj  bbhjbh jbh jb bhjbh bjh bhj bhj b hjbh bh bhj bhj bhj bjh bjh bhbhj bh bj hbh bj bjh bjhb hb hb hjb hjb hjb hjb jhb hjb hjb h hj hj hjj hb hjb jhb hjb hjb adsad s dsa
		  		 </p>
		  	</div>
	  	</div>
	  	<div class="col-md-4">
			<div class="col-md-12 jumbotron">
				 <h2>¿Que es?</h2>
				 <br>
				 <p>
				 	sdsadsadsads  hb hbh bh bhj  bbhjbh jbh jb bhjbh bjh bhj bhj b hjbh bh bhj bhj bhj bjh bjh bhbhj bh bj hbh bj bjh bjhb hb hb hjb hjb hjb hjb jhb hjb hjb h hj hj hjj hb hjb jhb hjb hjb adsad s dsa
				 </p>
		  	</div>
	  	</div>
	  	<div class="col-md-4">
		  	<div class="col-md-12 jumbotron">
		  		 <h2>¿Que es?</h2>
		  		 <br>
		  		 <p>
		  		 	sdsadsadsads  hb hbh bh bhj  bbhjbh jbh jb bhjbh bjh bhj bhj b hjbh bh bhj bhj bhj bjh bjh bhbhj bh bj hbh bj bjh bjhb hb hb hjb hjb hjb hjb jhb hjb hjb h hj hj hjj hb hjb jhb hjb hjb adsad s dsa
		  		 </p>
		  	</div>
	  	</div>
 	</div>
</div>